@import url("https://felbeeey.github.io/unDEV/login-page/alien/alien_base.css");
:root {
    --main-bg: radial-gradient(ellipse at center,#0000 0,rgba(0, 0, 0, 0) 100%) center center/cover no-repeat fixed, 
    url(https://felbeeey.github.io/unDEV/login-page/rezweb/wallpaper/wallpaper.jpg) center center/cover no-repeat fixed;
    --logo: url(https://felbeeey.github.io/unDEV/login-page/rezweb/logo/logo.png) center no-repeat;
    --text-color: #f58738;
    --input-color: #b9e7ff;
    --link-color: #d7d7d7;
    --link-color-hover: #f58738;
    --case-color: hsl(25, 90%, 59%);
    --button-text-color: #cacaca;
    --button-text-color-hover: #000;
    --button-color: #cacaca;
    --button-color2: #cacaca;
    --button-color-hover: #ff3c00;
    --button-color2-hover: #fa0;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: #0000005e;
    --text-shadow: 0 0 0px;
    --box-shadow: 0 0 30px;
}