@import url("https://felbeeey.github.io/unDEV/login-page/00_base/base.css");
:root {
    --main-bg: radial-gradient(ellipse at center,#0000 0,rgba(0, 0, 0, 0) 100%) center center/cover no-repeat fixed, 
    url(https://felbeeey.github.io/unDEV/login-page/seventy/wallpaper/wallpaper04.jpg) center center/cover no-repeat fixed;
    --logo: url(https://felbeeey.github.io/unDEV/login-page/seventy/logo/logo02.png) center no-repeat;
    --text-color: #535353;
    --input-color: #535353;
    --link-color: #535353;
    --link-color-hover: #fff;
    --case-color: #fff;
    --button-text-color: #535353;
    --button-text-color-hover: #fff;
    --button-color: #cacaca;
    --button-color2: #535353;
    --button-color-hover: #cacaca;
    --button-color2-hover: #535353;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: #00000025;
    --text-shadow: 0 0 0px;
    --box-shadow: 0 0 30px;
}