@import url(https://felbeeey.github.io/unDEV/applikation_designs/plex/plex-base.css);
:root {
  --main-bg-color: radial-gradient(circle, #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(circle , #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;
  --link-color: #e5a00d;
  --button-color: hsla(0,0%,100%,.15);
  --button-color-hover: hsla(0,0%,100%,.30);
  --accent-color: #e5a00d;
  }